# Function

In [1]:
def sum(a,b):
    return a+b
val=sum(6,5)
print(val)

11

In [2]:
def info(name,age=78):
    return ("My name is {} and I am {} years old.".format(name,age))
info('Bibek')

'My name is Bibek and I am 78 years old.'

In [3]:
def hello(*args,**kwargs):
    print(args)
    print(kwargs)

In [4]:
hello('bibek','rai',age=78,id=1990)

('bibek', 'rai')
{'age': 78, 'id': 1990}

In [5]:
list=[3,4,6,7,9,11,15,16]
def highest_odd_even(list):
    highest_odd=0
    highest_even=0
    for i in list:
        if i%2==0:
            highest_even=max(highest_even,i)
        else:
            highest_odd=max(highest_odd,i)
    return highest_even,highest_odd

In [6]:
highest_odd_even(list)

(16, 15)

# Lambda Function

It only works on single expression.

In [7]:
#simple function 

def addition(a,b):
    return a+b;
addition(5,4)

9

In [8]:
# lambda function

addition=lambda a,b:a+b
addition(5,4)

9

# Filter function

In [9]:
def even_or_odd(num):
    if num%2==0:
        return True

In [10]:
even_or_odd(12)

True

In [11]:
lst=[1,2,3,4,5,6,7,8,9,10]
tuple(filter(even_or_odd,lst))

(2, 4, 6, 8, 10)

In [12]:
tuple(filter(lambda num:num%2==0,lst))

(2, 4, 6, 8, 10)

In [13]:
tuple(map(lambda num:num%2==0,lst))

(False, True, False, True, False, True, False, True, False, True)

# Map function

In [14]:
def find(num):
    if num%2==0:
        return "The number {} is even".format(num)
    else:
        return "The number {} is odd".format(num)
find(12)

'The number 12 is even'

In [15]:
find(11)

'The number 11 is odd'

In [16]:
lst=[1,2,3,4,5,6,7,8,9,10]
tuple(map(find,lst))

('The number 1 is odd',
 'The number 2 is even',
 'The number 3 is odd',
 'The number 4 is even',
 'The number 5 is odd',
 'The number 6 is even',
 'The number 7 is odd',
 'The number 8 is even',
 'The number 9 is odd',
 'The number 10 is even')

# List Comprehension

In [17]:
lst=[1,2,3,4,5,6,7,8,9,10]
[i*i for i in lst]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
[i*i for i in lst if i%2==0]

[4, 16, 36, 64, 100]

# String formatting

In [19]:
def newsletter(name,date):
    return "Hi {name}. You have started using our newsletter from {date}".format(name=name,date=date)
newsletter('Bibek',2020)

'Hi Bibek. You have started using our newsletter from 2020'

# OOPS

In [20]:
class car:
    def __init__(self,windows,doors,enginetype):
        self.window=windows
        self.door=doors
        self.enginetype=enginetype
    def self_driving(self):
        return "This is car which use {} as engine ".format(self.enginetype)

In [21]:
car1=car(3,4,'petrol')

In [22]:
print(car1.window)

3

In [23]:
car1.self_driving()

'This is car which use petrol as engine '

# Exception Handling

In [24]:
try:
    a=b
except NameError:
    print("The user have not defined a varibale")
except Exception as testing:
    print(testing)

The user have not defined a varibale

In [25]:
# try except 

try:
    d='bibek'
    e=4
    f=d+e
    a=12
    b=0
    c=a/b
    print(f)
    print(c)
except TypeError:
    print("string and interger cannot be added")
except ZeroDivisionError:
    print("12 cannot be divide by 0")
except Exception as ex:
    print(ex)

string and interger cannot be added

# pie plot